HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# IntelliJ caches
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

### Kotlin / JVM ###
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*
*.log


### OS files ###
.DS_Store
Thumbs.db


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Compose Desktop ###
*.skiko

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

### Maven local test output ###
target/

### Root-level build artifacts ###
core-ui/build/
core-api/build/
core-lib/build/
core-contract/build/